.gridContainer {
    margin: 0 auto;
    justify-content: center;
    padding: 0;
    max-width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr;
    gap: 25px 25px;
    grid-template-areas:
        "header header header header"
        "main main nextHours nextWeek"
        "main main wind nextWeek"
        "feelsLike precipitation . nextWeek";
}


.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.feelsLike {
    grid-area: feelsLike;
}

.precipitation {
    grid-area: precipitation;
}

.nextHours {
    grid-area: nextHours;
}

.wind {
    grid-area: wind;
}

.nextWeek {
    grid-area: nextWeek;
}


@media (max-width: 1150px) {
    .gridContainer {
        height: 80vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.25fr 1fr 1fr 1fr 2fr;
        grid-template-areas:
            "header header"
            "main main"
            "feelsLike precipitation"
            "nextHours wind"
            "nextWeek nextWeek";
    }
}

@media (max-width: 768px) {
    .gridContainer {
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr 1fr 3fr;
        grid-template-areas:
            "header header"
            "main main"
            "main main"
            "nextHours nextHours"
            "feelsLike precipitation"
            "wind wind"
            "nextWeek nextWeek";
    }


}