.dayCard {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    margin-bottom: 10px;
}

.topLine {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2); 
    margin-bottom: 8px;
}

.weatherIcon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.dayLabel {
    font-weight: 600;
    text-align: left;
    font-size: 20px;
    width: 40px;
    margin-right: 15px;
}

.temperatureRange {
    display: flex;
    align-items: center;
}

.temperature {
    font-weight: 600;
    font-size: 16px;
}

.separator {
    width: 70px;
    height: 3px;
    background-color: #ccc;
    margin: 0 20px;
}