.card {
    width: 355px;
    height: 394px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 16px;
    padding: 20px;
}

.nightTheme {
    background-color: rgba(118, 118, 128, 0.24);
}

.dayTheme {
    background-color: rgba(65, 142, 188, 0.30);
}

.rainTheme {
    background-color: rgba(106, 106, 124, 0.24);
}

p {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    font-size: 14px;
    opacity: 0.8;
}

.city {
    font-size: 26px;
    font-weight: bold;
}

.middle, 
.bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 100px;
    font-weight: 200;
}

.weatherState {
    font-size: 20px;
}

.dailyTemperature {
    font-size: 18px;
    opacity: 0.9;
}
