.card {
    width: 165px;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 16px;
    padding: 18px;
}

.nightTheme {
    background-color: rgba(118, 118, 128, 0.24);
}

.dayTheme {
    background-color: rgba(65, 142, 188, 0.30);
}

.rainTheme {
    background-color: rgba(106, 106, 124, 0.24);
}

p {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

.cardName {
    font-size: 14px;
    opacity: 0.8;
}

.middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.precipitationSumToday{
    font-size: 30px;
    font-weight: 500;
}

.precipitationSumTodayText {
    font-size: 20px;

}
.precipitationSumTomorrow{
    font-size: 15px;
    text-align: left;
    opacity: 0.8;
}