.feelsLikeCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 16px;
    padding: 18px;
    width: 100%;
    height: 100%;
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
}

.cardHeader {
    display: flex;
    align-items: center;
}

.cardTitle {
    font-size: 14px;
    opacity: 0.8;
    margin-left: 7px;
}

.feelsLikeTemperature {
    font-size: 50px;
    font-weight: 300;
    margin: 10px 0 10px 0;
}

.feelsLikeDescription {
    font-size: 15px;
    text-align: left;
    opacity: 0.8;
}

.nightTheme {
    background-color: rgba(118, 118, 128, 0.24);
}

.dayTheme {
    background-color: rgba(65, 142, 188, 0.30);
}

.rainTheme {
    background-color: rgba(106, 106, 124, 0.24);
}

@media (max-width: 768px) {
    .feelsLikeTemperature{
        font-size: 52px;
    }
}