.card {
    width: 355px;
    height: 394px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 16px;
}

.nightTheme {
    background-color: rgb(118, 118, 128, 0.24);
}

.dayTheme{
    background-color: rgb(65, 142, 188, 0.30);
}

.rainTheme{
      background-color: rgba(106, 106, 124, 0.24);
}

p {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;

}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    font-size: 14px;
}

.city {
    font-size: 26px;
}

.middle, .bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 100px;
    font-weight: 100;
}


.weatherState {
    font-size: 20px;
}

.dailyTemperature{
    font-size: 18px;
}
