.headerBlock {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.input {
    width: 343px;
    height: 36px;
    margin-left: 75px;
    background-color: rgb(118, 118, 128, 0.24);
    border: none;
}

.nightTheme {
    background-color: rgb(118, 118, 128, 0.24);
}

.dayTheme {
    background-color: rgb(65, 142, 188, 0.30);
}

.rainTheme {
    background-color: rgba(106, 106, 124, 0.24);
}


.input {
    border-radius: 10px;
    padding-left: 30px;
    background-image: url("../../assets/search.svg");
    background-repeat: no-repeat;
    background-position: 8px;
    background-size: 16px;
    color: rgb(235, 235, 245, 0.60);
    font-family: "SF Pro Display", sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.input::placeholder {
    color: rgb(235, 235, 245, 0.60);
    font-family: "SF Pro Display", sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.input:focus {
    outline: none;
    caret-color: rgb(235, 235, 245, 0.60);
    
}

.input::placeholder:focus {
    display: none;
}
