.headerWrapper {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchContainer {
    width: 70%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.searchInputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 343px;
    height: 40px;
    border-radius: 10px;
    padding: 0 12px 0 8px;
    gap: 6px;
}

.searchIcon {
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton:focus {
    outline: none;
}

.searchInput {
    flex: 1;
    height: 100%;
    background: transparent;
    border: none;
    color: rgb(240, 240, 243, 0.8);
    font-family: "SF Pro Display", sans-serif;
    font-weight: 400;
    font-size: 17px;
    padding: 0 8px 0 0;
}

.searchInput::placeholder {
    color: rgba(240, 240, 243, 0.8);
}

.searchInput:focus {
    outline: none;
    caret-color: rgba(240, 240, 243, 0.8);
}

.cancelButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelButton:focus {
    outline: none;
}

.hidden{
    opacity: 0;
}



.inputBox {
    display: flex;
    position: relative;
}

.suggestionsList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-radius: 12px;
    margin-top: 6px;
    z-index: 5;
    padding: 0;
}

.suggestionItem {
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: #f0f0f3;
    transition: background 0.4s ease;
    background-color: rgb(0, 0, 0, 0);
}

.suggestionItem:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.suggestionItem:first-child {
    border-radius: 12px 12px 0 0;

}

.suggestionItem:last-child {
    border-radius: 0 0 12px 12px;

}


.cityName {
    font-family: "SF Pro Display", sans-serif;
    font-size: 18px;
}

.countryName {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
}

.nightTheme {
    background-color: rgb(118, 118, 128, 0.24);
}

.dayTheme {
    background-color: rgb(65, 142, 188, 0.30);
}

.rainTheme {
    background-color: rgba(106, 106, 124, 0.24);
}
