.footer {
    position: fixed; 
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}

.nightTheme {
    background-color: rgba(118, 118, 128, 0.24);
}

.dayTheme {
    background-color: rgba(65, 142, 188, 0.30);
}

.rainTheme {
    background-color: rgba(106, 106, 124, 0.24);
}

a {
    font-family: 'SF Pro Display', sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    font-size: 16px;
    transition: color 0.3s ease;
}

a:hover {
    color: #4fa3d1;
}

@media (max-width: 1050px) {
    .footer {
        position: relative;
        margin: 20px 0 20px 0;
        padding: 15px;
        width: 90%; 
        left: 5%; 
        text-align: center;
        border-radius: 12px;
        bottom: auto; 
    }

    .footer a {
        display: block;
        font-size: 18px;  
    }
}
