.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 20px;
    width: 90%;
    max-width: 700px;
    margin: 50px auto;
}

.nightTheme {
    background-color: rgba(118, 118, 128, 0.24);
}

.dayTheme {
    background-color: rgba(65, 142, 188, 0.30);
}

.rainTheme {
    background-color: rgba(106, 106, 124, 0.24);
}

p {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 500;
    margin: 5px 0;
    text-align: left;
}

h1 {
    color: #FFF;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}


a {
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
}


a:hover {
    color: #e7e7e7;
}